// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$main-color: #0F6D39;
$second-color: #354052;
$red-color: #e30f0f;
$overleck-red-color: #ed4266;
$grey-color: #9ca6ba;
$blue-color: #7a8fa6;
$blueberry-color: #5290f2;
$overleck-third-color: #99cc33;

/* Font sizes. */
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-14: 14px;
$fs-13: 13px;
$fs-14: 14px;
$fs-20: 20px;
