// Import Gobale SCSS file
@import '_variables';
@import '_global';
@import '_rtl';

@font-face {
  font-family: 'Poppins';
  // src: url('../fonts/Poppins-Bold.otf');
  src: url('../fonts/MadaniArabicBold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Poppins';
  // src: url('../fonts/Poppins-Light.otf');
  src: url('../fonts/MadaniArabicLight.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  // src: url('../fonts/Poppins-Medium.otf');
  src: url('../fonts/MadaniArabicMedium.ttf');
}
* {
  font-family: 'Poppins';
  // word-break: break-word !important;
}

.english-font {
  font-family: 'Poppins' !important;
}

// notifications

.notification {
  .notify-alert {
    .v-snack__wrapper {
      width: 320px !important;
      border-radius: 3px;
      border-inline-start: 7px solid #fff !important;
      background-color: #0F6D39 !important;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16) !important;
    }
    .v-snack__content {
      color: #f2f2f2;
      padding: 10px 16px 10px 8px !important;
      & > div {
        display: flex;
        align-items: center;
        img {
          height: auto;
        }
        .alert_title {
          .h3 {
            font-size: 14px !important;
            font-weight: bold;
            margin-bottom: 5px;
          }
          p {
            font-size: 12px !important;
            font-weight: 300 !important;
          }
        }
      }
    }
    .close {
      position: absolute;
      top: -5px;
      right: -3px;
      left: auto;
      color: #fff !important;
      font-size: 14px;
    }
  }
  .num1 .notify-alert .v-snack__wrapper {
    bottom: 65px !important;
  }
  .num2 .notify-alert .v-snack__wrapper {
    bottom: 140px !important;
  }
  .num3 .notify-alert .v-snack__wrapper {
    bottom: 216px !important;
  }
  .num4 .notify-alert .v-snack__wrapper {
    bottom: 291px !important;
  }
  .num5 .notify-alert .v-snack__wrapper {
    bottom: 367px !important;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 14px !important;
  }
  .v-label {
    font-size: 14px;
  }
}
